/* Organization */
h1, h2 {
  text-align: center;
  text-decoration: underline;
  color: #C34827;
}

a {
  color: #C34827;
}

/* Classes */
.banner {
  width: 100%;
  max-height: 150px;
  position: relative;
  background-color: #DF7033;
}

.ban-image {
  position: absolute;
}

.content {
  padding-top: 100px;
  padding-left: 15%;
  padding-right: 15%;
}

.pledge {
  font-size: xx-large;
}

.select {
  height: 100%;
}

.break {
  margin: 30px 15%;
  border-bottom: 1px solid #DF7033;
}

@media screen and (max-device-width: 600px) {
  .sponsor_image { display: none; }
  .scrollNav { display: none; }
}

@media screen and (min-device-width: 601px) {
  .sponsor_image_mobile { display: none; }
}

.scrollNav {
  position: fixed;
  list-style-type: none;
}

.sponsor_image {
  height: 75px;
  margin-left: 10px;
  margin-right: 10px;
}

.sponsor_image_mobile {
  height: 75px;
  margin-left: 10px;
  margin-right: 10px;
}


#sponsors {
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: center;
}

#prizes {
  margin-top: 35px;
  margin-bottom: 35px;
}

#form {
  align-items: center;
  justify-content: center;
}

/* Utility */

.center {
  text-align: center;
}

.error {
  color: red;
  font-weight: bolder;
}

.success {
  color: green;
  font-weight: bolder;
}

.display-1 {
  width: 100%;
  padding-top: 15px;
  text-align: center;
  position: absolute;
  top: 0;
  color: white;
  z-index: 100;
  font-size: 4rem;
}

.clear {
  clear: both;
}
